# Переключаемся на Hugging Face
AI_PROVIDER=

# Твой ключ Hugging Face
HF_API_KEY=

# Бесплатная модель (открытая, быстрая, без VPN)
DEFAULT_MODEL=

# Режим отладки: false = реальный запрос, true = заглушка
DEBUG_MODE=